-
	var img = 'img/';
	var registerFormId = 'registerForm';
	var navList = [
		{
			name: 'Word Castle',
			link: 'worldCastle'
		},
		{
			name: 'Развитие',
			link: 'evolution'
		},
		{
			name: 'Обучение',
			link: 'education'
		},
		{
			name: 'Слова',
			link: 'words'
		},
		{
			name: 'Наборы',
			link: 'sets'
		},
		{
			name: 'Развитие',
			link: 'achievements'
		}
	];

	var achievements = [
		{
			name: 'Виконт'
		},
		{
			name: 'Князь',
			icon: 'prince.png',
			castles: '5',
			words: '300'
		},
		{
			name: 'Герцог'
		},
		{
			name: 'Граф',
			icon: 'earl.png',
			castles: '20',
			words: '1200'
		},
		{
			name: 'Барон'
		},
		{
			name: 'Маркиз',
			icon: 'marquis.png',
			castles: '40',
			words: '2400'
		},
		{
			name: 'Король'
		}
	];

	var textGallery = [
		[
			{
				title: 'Первая игра которая<br> помогает изучать язык',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'uFExenM7-dY'
			},
			{
				title: 'Развивай и<br> захватывай замки',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: '6eca_t0ZQdk'
			},
			{
				title: 'Соревнуйся<br> с друзьями',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'k8hLv6eAeZA'
			},
			{
				title: 'Играй как в онлайне<br> как и в офлайне',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'EhaVF9AMNag'
			},
			{
				title: 'Играй на любом<br> устройстве',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: '6eca_t0ZQdk'
			},
			{
				title: 'Онлайн<br> статистика',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'uFExenM7-dY'
			}
		],
		[
			{
				title: 'Сленговые<br> словообороты',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: '6eca_t0ZQdk'
			},
			{
				title: 'Популярные<br> наборы слов',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'uFExenM7-dY'
			},
			{
				title: 'Наборы<br> для професий',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: 'EhaVF9AMNag'
			},
			{
				title: 'Создание<br> наборов',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: '6eca_t0ZQdk'
			},
			{
				title: 'Качественная озвучка<br> слов и фраз',
				text: 'Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития',
				videoId: '6eca_t0ZQdk'
			}
		]
	];