-
	var img = 'img/';
	var navList = [
		{
			name: 'Word Castle',
			link: '1'
		},
		{
			name: 'Развитие',
			link: '2'
		},
		{
			name: 'Обучение',
			link: '3'
		},
		{
			name: 'Слова',
			link: '4'
		},
		{
			name: 'Наборы',
			link: '5'
		},
		{
			name: 'Достижения',
			link: '6'
		}
	];

	var achievements = [
		{
			name: 'Виконт'
		},
		{
			name: 'Князь',
			icon: 'prince.png',
			castles: '5',
			words: '300'
		},
		{
			name: 'Герцог'
		},
		{
			name: 'Граф',
			icon: 'earl.png',
			castles: '20',
			words: '1200'
		},
		{
			name: 'Барон'
		},
		{
			name: 'Маркиз',
			icon: 'marquis.png',
			castles: '40',
			words: '2400'
		},
		{
			name: 'Король'
		}
	];