include ../info-card/info-card


mixin sec4()
	-
		var sec4Slider = {
			film: {
				name: 'Сериалов',
				content: [{
					img: 'the_big_bang_theory.png',
					title: 'The Big Bang Theory',
					subtitle: '',
					body: [
						{
							title: 'To freak out',
							text: 'сильно пугать, шокировать, сводить с ума'
						},
						{
							title: 'Brainiac',
							text: 'умник, гений, ботаник (с уважением или с издевкой)'
						},
						{
							title: 'Call shotgun',
							text: 'занимать переднее сиденье'
						},
						{
							title: 'Raincheck',
							text: 'отсрочка приглашения что-то сделать, куда-то пойти и т.д.'
						}
					]
				},
				{
					img: 'game_of_thrones.png',
					title: 'Game of Thrones',
					subtitle: '',
					body: [
						{
							title: 'Nobles',
							text: 'Благородные'
						},
						{
							title: 'Ironwood',
							text: 'крепкое и почти не поддающееся огню дерево'
						},
						{
							title: 'Faith of the Seven',
							text: 'Вера в Семерых'
						},
						{
							title: 'Plate armor',
							text: 'латный доспех'
						}
					]
				},
				{
					img: 'friends.png',
					title: 'Friends',
					subtitle: '',
					body: [
						{
							title: 'Call you up',
							text: 'Ещё вспомню о тебе'
						},
						{
							title: 'Be at one',
							text: 'Окажусь на одной из них'
						},
						{
							title: 'Regret',
							text: 'Сожаление'
						},
						{
							title: 'Plate armor',
							text: 'латный доспех'
						}
					]
				}]
			},
			song: {
				name: 'Песен',
				content: [{
					img: 'shape_of_you.png',
					title: 'Shape of You',
					subtitle: 'Ed Sheeran',
					body: [
						{
							title: 'We push',
							text: 'Мы отталкиваемся'
						},
						{
							title: 'Take my hand',
							text: 'Возьми мою руку'
						},
						{
							title: 'Although',
							text: 'Несмотря на то что'
						},
						{
							title: 'Discovering something',
							text: 'открывать что-то'
						}
					]
				},
				{
					img: 'believer.png',
					title: 'Believer',
					subtitle: 'Imagine Dragons',
					body: [
						{
							title: 'Second thing second',
							text: 'Во-вторых'
						},
						{
							title: 'I was broken',
							text: 'Я был сломлен'
						},
						{
							title: 'Singing',
							text: 'Пение'
						},
						{
							title: 'Inhibited, limited',
							text: 'Подавляемые, сдерживаемые'
						}
					]
				},
				{
					img: 'attention.png',
					title: 'Attention',
					subtitle: 'Charlie Puth',
					body: [
						{
							title: 'Call you up',
							text: 'Ещё вспомню о тебе'
						},
						{
							title: 'Be at one',
							text: 'Окажусь на одной из них'
						},
						{
							title: 'Regret',
							text: 'Сожаление'
						},
						{
							title: 'Plate armor',
							text: 'латный доспех'
						}
					]
				}]
			},
			game: {
				name: 'Игр',
				content: [{
					img: 'moba-img.png',
					title: 'MOBA GAME',
					subtitle: 'Multiplayer Online Battle Arena «многопользовательская онлайновая боевая арена»',
					body: [
						{
							title: 'High ground (HG)',
							text: 'возвышенность над какой-либо областью в игре'
						},
						{
							title: 'Pick',
							text: 'как правило означает выбор героя или чего-либо еще в игре'
						},
						{
							title: 'Well players (WP)',
							text: 'хорошие игроки - обычно пишется после матча.'
						},
						{
							title: 'Abuse',
							text: ' выгоды'
						}
					]
				},
				{
					img: 'action-img.png',
					title: 'ACTION',
					subtitle: 'В которых успех игрока в большой степени зависит от его скорости реакции и способности быстро принимать тактические решения.',
					body: [
						{
							title: 'Lag',
							text: 'Запаздывание, задержка – задержка в работе игры,проявляющаяся в виде временного подвисания игрового процесса.'
						},
						{
							title: 'AIM',
							text: '(Аим, в переводе с англ. «цель, прицеливаться») умение человека, играющего в шутеры,быстро и точно наводить прицел на цель.'
						},
						{
							title: 'Plant',
							text: ' бомбу.'
						}
					]
				},
				{
					img: 'mmorpg-img.png',
					title: 'MMORPG',
					subtitle: 'Massively multiplayer online role-playing game компьютерная игра, в которой жанр ролевых игр совмещается с жанром массовых онлайн-игр.',
					body: [
						{
							title: 'Over buff',
							text: 'Овербаф гровая ситуация, при которой один бафф персонажа вытесняется другим из-за ограничения на количество одновременно.'
						},
						{
							title: 'Overheal',
							text: 'Оверхил «сверхлечения» - количество очков здоровья, восстановленных персонажу, сверх его максимального здоровья'
						},
						{
							title: 'Player vs environment (PVE)',
							text: ' - монстров)'
						}
					]
				}]
			}
		};

		var page = 4;

	.sec4&attributes(attributes)
		+nav(page, true)
		.sec4__wrap
			+container().sec4__container
				.sec4__content
					+sec-title(navList[page - 1].name)
					h2.
						СЛОВА ИЗ ПОПУЛЯРНЫХ
					.sec4__slider
						.sec4__slider-nav.mb-4
							each value, key in sec4Slider
								//- +btnSmall({text: 'Сериалов'})
								+btnSmall({text: value.name, bg: 'blue'})(data-category=key).mr-2.sec4__slider-nav-link
							//- +btnSmall({text: 'Сериалов', bg: 'blue', active: true})
						.sec4__slider-body
							each value, key in sec4Slider
								.sec4__slider-cards(data-category=key)
									each item in value.content
										+info-card({item: item}).sec4__slider-card
		+clouds
