include ../achievements/achievements

mixin sec6()
	-
		var page = 6;

	.sec6&attributes(attributes)
		+nav(page)
		.sec6__wrap
			+container.sec6__container
				.sec6__content
					+sec-title(navList[page - 1].name)
					h1.color-pink-dark.
						РАЗВИВАЙ СЕБЯ И СВОЙ ЗАМОК<br class="d-none d-pc-inline">
						ПОЛУЧАЯ НОВЫЕ ТИТУЛЫ
					p.
						Краткое описание текст рыба с другой стороны консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития
		img(src=img + 'sec3-castle.png').sec6__castle
		+achievements.sec6__achievements