mixin social(options={color, size, bg})
	-
		var social = [
			{
				name: 'fb',
				href: ''
			},
			{
				name:'vk',
				href: ''
			},
			{
				name: 'youtube',
				href: ''
			}];

	.social&attributes(attributes)
		-
			var color = typeof options.color !== 'undefined' ? '-' + options.color : '';
			var size = typeof options.size !== 'undefined' ? 'social__list-icon_size_' + options.size : '';
			var itemCls = typeof options.size !== 'undefined' ? 'social__list-item_' + options.size : '';

		ul.social__list
			each item in social
				li(class=itemCls).social__list-item
					a(href=item.href, class=(options.bg ? ' social__list-link_' + item.name + ' social__list-link_bg' : '')).social__list-link
						+icon(item.name + color)(class="social__list-icon_" + item.name + ' ' + size).social__list-icon
		block
