mixin social(options={color, size, bg})
	-
		var social = [
			{
				name: 'fb',
				href: ''
			},
			{
				name:'vk',
				href: ''
			},
			{
				name: 'youtube',
				href: ''
			}];

	.sn&attributes(attributes)
		-
			var color = typeof options.color !== 'undefined' ? '-' + options.color : '';
			var size = typeof options.size !== 'undefined' ? 'sn__list-icon_size_' + options.size : '';
			var itemCls = typeof options.size !== 'undefined' ? 'sn__list-item_' + options.size : '';

		ul.sn__list
			each item in social
				li(class=itemCls).sn__list-item
					a(href=item.href, class=(options.bg ? ' sn__list-link_' + item.name + ' sn__list-link_bg' : '')).sn__list-link
						+icon(item.name + color)(class="sn__list-icon_" + item.name + ' ' + size).sn__list-icon
		block
