mixin sec3()
	.sec3&attributes(attributes)
		//- .content-center
		+container()
			+text-gallery({version: 1}).sec3__text-gallery
		img(src=img + 'sec3-castle.png').sec3__castle
		img(src=img + 'clouds.png').sec3__clouds
