mixin load-badges()
	-
		var bages = [{
			img: 'google-play-badge.png',
			href: '/'
		},
		{
			img: 'app-store-badge.png',
			href: '/'
		}];

	.load-badges&attributes(attributes)
		.load-badges__list
			each item in bages
				a(href=item.href).load-badges__list-link
					img(src=img + item.img).load-badges__list-img
