include ../char/char
include ../load-badges/load-badges
include ../header/header


mixin sec1()
	.sec1&attributes(attributes)
		+header
		+nav(1)
		.content-center.sec1__content-center
			+container
				.sec1__content
					+iphone.sec1__iphone
						//- iframe(src="https://www.youtube.com/embed/i-kVeQOmMSo?autoplay=1&controls=0&enablejsapi=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
						#sec1Video.sec1__iphone-video
					.sec1__text
						img(src=img + 'world-castle-icon.png').sec1__game-icon
						h1.color-pink-dark.
							МОБИЛЬНАЯ ИГРА ДЛЯ<br class="d-none d-tablet-inline">
							ИЗУЧЕНИЯ АНГЛИЙСКОГО ЯЗЫКА
						h5.color-gray-darken.mb-5.
							СТАНЬ ГЛАВОЙ АНГЛИЙСКОГО КОРОЛЕВСТВА
						+load-badges.d-tablet-block.d-none
			+load-badges.d-tablet-none.sec1__bages-mobile
			img(src=img + 'sec1-tower.png').sec1__tower
			+clouds