mixin nav(page, light)
	.nav(class=(light ? 'light' : ''))&attributes(attributes)
		.nav__content
			.nav__number
				img(src=img + 'nav-' + page + '.svg').nav__number-img
			ul(class="nav__list_" + page).nav__list
				each item, index in navList
					li(class=(index + 1 === page ? 'nav__list-item_active' : '')).nav__list-item
						a(href='#slide' + (index + 1)).nav__list-link
							=item.name
		
