include ../social/social

mixin mobile-nav()
	.mobile-nav&attributes(attributes)
		.mobile-nav__inner
			ul.mobile-nav__list
				each item in navList
					li(class=(item.hideMobile ? 'mobile-nav__list-item_hide-mob' : '')).mobile-nav__list-item
						a(href=item.link, data-nav-link).mobile-nav__list-link
							=item.name
			+social({color: 'white', size: 's', bg: true}).mobile-nav__social
			//- ul.mobile-nav__social
				li.mobile-nav__social-item
					a(href="").mobile-nav__social-link
